header {
    background-color:aqua;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    display: flex;
}
nav {
    text-align: right;
    align-items: right;

    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    padding: 0, 20px;
}
.aluno {
    width: 50%;
    height: 380px;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
}
h1{
    padding: 20px;
    text-align: center;

    font-size: 40px;
}
p {
    font-size: 25px;
    line-height: 1.5;
}
hr {
    margin: 30px 0;
    height: 12px;
    width: 50%;
    margin: 20px auto;
    background-color: gray;
}
.tema {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
}
h2 {
    padding: 10px;
    text-align: center;

    font-size: 40px;
}
