body{
    background-color: cornflowerblue;
    justify-content: center;
}
header{
    background-color: crimson;
    justify-content: first baseline;
    align-items: center;
    height: 90%;
    display: flex;
}
.aff_meu{
    background-color: crimson;
    border: solid;
    border-radius: 50px;
    height: 200px;
    width: 60%;
    margin: 10px;
    display: flex;
    align-items: center;
}
.aff_meu img{
    background-color: crimson;
    margin: 10px;
}
.conteiner{
    align-items: center;
    justify-content: center;
    position: center;
}
