* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    background-color: #25003d;
    padding: 20px;
    text-align: center;
}

h1 {
    color: purple;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: violet;
}


/* CONTAINER */

.favoritos {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px 60px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* CARD */

.erva {
    width: 100%;
    min-height: 230px;

    display: flex;
    align-items: center;

    background: #111311;
    border: 1px solid #292c29;
    border-radius: 15px;

    padding: 18px;
    gap: 25px;

    transition: 0.3s ease;
}

/* IMAGEM */

.erva img {
    width: 300px;
    height: 210px;

    object-fit: cover;

    flex-shrink: 0;

    border-radius: 12px;
    border: 1px solid #3a3d3a;
}

/* TEXTO AO LADO */

.erva-info {
    flex: 1;
}

.erva-info h2 {
    color: #b56bd0;
    font-size: 28px;
    margin-bottom: 12px;
}

.erva-info p {
    color: #bdbdbd;
    font-size: 16px;
    line-height: 1.7;
}


